/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f7f7f7;
    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
    /* --sectionPadding: 6rem 0; */
    --sectionPadding: 2rem;
    /* --itemBorderRadius: 0.7rem; */
    --itemBorderRadius: 10px;
    /* --borderColor: #ccc; */
    /* --secondaryTextColor: #777; */
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
}

span,
i {
    color: var(--primaryIconColor);
}

.main-container {
    width: 100%;
    padding: var(--sectionPadding);
    padding-inline: 150px;
}

/* Navbar */
header {
    position: fixed;
    background: #0f0e17;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    color: #f0f8ff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: aliceblue;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: var(--primaryIconColor);
    transition: 0.2s;
}

.menu-icon {
    color: #fff;
    display: none;
    float: left;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    margin-right: 10px;

}

.burger {
    display: none;
}



.banner,
.banner-small {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/image_1.jpg');
    background-size: cover;
    background-position: center;
}

.banner-small {
    height: 200px;
}

.banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.banner-content span {
    color: var(--primaryIconColor);
}

.banner-content h1 {
    font-size: 80px;
    margin-top: 80px;
}

.banner-content p {
    margin: 20px auto;
    font-weight: 200;
    font-size: 20px;
}

.banner-content-small h1 {
    text-align: center;
    padding: 60px 150px 0 150px;
    color: #fff;
    font-weight: 400;
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layouts */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 10px;
    overflow: hidden;
}

/* about Section */
.about {
    padding-top: 100px;
    display: flex;
    gap: 50px;
}

.about-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}


.about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.about-left p {
    padding-top: 20px;
    font-size: 20px;
}

.about-right {
    width: 100%;
    background: url('images/image_2.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}

/* Services Section */

.services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
    padding-inline: 150px;
    text-align: center;
    margin: 0 auto;
}

.service {
    padding: 3rem 2rem;
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;

}

.service-icon i {
    font-size: 30px;
    fill: var(--primaryIconColor);
}

/* Cards */
.cards,
.portfolios,
.teams {
    padding: var(--sectionPadding);
    padding-inline: 150px;
}

.card,
.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.card img,
.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info,
.portfolio-info {
    padding: 2rem 1.5rem;
}

.card-title,
.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.card h4,
.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.card-title a i:hover,
.portfolio-title a i:hover {
    fill: var(--primaryIconColor);
    transition: 0.2s ease-in-out;
}

.card-title a i,
.portfolio-title a i {
    transition: 0.2s ease-in-out;
}

.card-tags,
.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.card-tags div,
.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

/* Teams */
.team-card {
    width: 200px;
    height: 250px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
}

.team-card:hover {
    transform: translateY(20px);
}

.team-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.team-card:hover:before {
    opacity: 1;
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.team-card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.team-card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.team-card .info h1 {
    margin: 0;
}

.team-card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    bottom: 0;
    left: 0;
    background: #111;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

/* Contact */
.contact {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('images/contact-background.jpg');
    background-size: cover;
}

.contact .content {
    margin-top: 20px;
    max-width: 1200px;
    text-align: center;
}

.contact .content h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    padding: 50px;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #fff;
}

.contactForm {
    width: 50%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #666;
    font-weight: 500;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(242, 7, 191);
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #f34f85;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .about {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 30px;
    }

    nav ul {
        position: fixed;
        right: -100%;
        top: 60px;
        flex-direction: column;
        background-color: #0f0e17;
        width: 200px;
        border-radius: 8px;
        transition: 0.3s;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    nav ul.active {
        right: 0;
    }

    .menu-icon,
    .burger {
        display: block;
    }

    .about,
    .services,
    .portfolios,
    .teams {
        padding-inline: 20px;
    }

    .about {
        text-align: center;
    }

    .about-right {
        display: none;
    }

    .banner-content-small h1 {
        font-size: 20px;
        padding: 60px 20px 0 20px;
    }
}

/* Pricing */
.wrapper {
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.table {
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.table .price-section {
    display: flex;
    justify-content: center;
}

.table .price-area {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
}

.aj_p {
    text-align: center;
}

p.aj_des {
    color: grey;
    padding-bottom: 30px;
    font-size: 14px;
}

.table.premium {
    margin: -20px;
}

.premium_all {
    padding-top: 22px;
}

.price-area .inner-area {
    height: 100%;
    width: 100%;
    line-height: 100px;
    text-align: center;
    color: #fff;
    position: relative;
    justify-content: center;
}

.price-area .inner-area .text {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 5px;
}

.price-area .inner-area .price {
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
}

.table .package-name {
    width: 100%;
    margin: 5px 0;
    position: relative;
}

.table .features li {
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.features li .list-name {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
}

.features li .icon {
    font-size: 15px;
}

.features li .icon.check {
    color: #2db94d;
}

.features li .icon.cross {
    color: #cd3241;
}

.table .btn {
    padding: 20px;
    width: 100%;
    display: block;
    justify-content: center;
}

.table .btn button {
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table .btn button:hover {
    border-radius: 5px;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area,
.basic .head_tab h2 {
    color: var(--primaryIconColor);
}

.basic .btn button {
    background: var(--primaryIconColor);
    color: #fff;
    margin-top: -75px;
}

.basic .btn button:hover {
    background: rgba(240, 101, 36);
    color: #fff;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .head_tab h2 {
    color: #ba24f0;
}

.premium .btn button {
    background: #ba24f0;
    color: #fff;
    margin-top: -75px;
}

.premium .btn button:hover {
    background: rgba(240, 101, 36);
    color: #fff;
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area,
.ultimate .head_tab h2 {
    color: #f5b55a;
}

.ultimate .btn button {
    background: #f5b55a;
    color: #fff;
    margin-top: -75px;
}

.ultimate .btn button:hover {
    background: rgba(240, 101, 36);
    color: #fff;
}

@media (max-width: 756px) {
    .wrapper .table {
        width: 100%;
    }

    .table.premium {
        margin: 40px 0px;
    }

    .table.ultimate {
        margin: 0px;
    }
}

.table .ribbon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
}

.table .ribbon::before,
table .ribbon::after {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #ba24f0;
    border-top-color: transparent;
    border-left-color: transparent;
}

.table .ribbon::before {
    top: 0px;
    right: 15px;
}

.table .ribbon::after {
    bottom: 15px;
    left: 0px;
}

.table .ribbon span {
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ba24f0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}