/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f7f7f7;
    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

i {
    color: var(--primaryIconColor);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Navbar */
header {
    position: fixed;
    background: #0f0e17;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    color: #f0f8ff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: aliceblue;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: red;
    transition: 0.2s;
}

.menu-icon {
    color: #fff;
    display: none;
    float: left;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    margin-right: 10px;

}

.burger {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

    .menu-icon,
    .burger {
        display: block;
    }

    nav ul {
        position: fixed;
        right: -100%;
        top: 60px;
        flex-direction: column;
        background-color: #0f0e17;
        width: 200px;
        border-radius: 8px;
        transition: 0.3s;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    nav ul.active {
        right: 0;
    }
}


.banner,
.banner-small {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/image_1.jpg');
    background-size: cover;
    background-position: center;
}

.banner-small {
    height: 200px;
}

.banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.banner-content span {
    color: var(--primaryIconColor);
}

.banner-content h1 {
    font-size: 80px;
    margin-top: 80px;
}

.banner-content p {
    margin: 20px auto;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    padding: 20px 200px 0px 200px;
}

.banner-content-small h1 {
    text-align: center;
    padding: 60px 150px 0 150px;
    color: #fff;
    font-weight: 400;
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layouts */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* about Section */
#about {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 150px;

}

.about-left p {
    padding-top: 20px;
    font-size: 20px;
}

.about-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.about-name span {
    color: var(--primaryIconColor) !important;
}

.about-right img {
    width: 90%;
}

.about-right {
    display: flex;
    justify-content: right;
}


/* Services Section */
#services {
    padding: var(--sectionPadding);
}

#services .pre-title {
    text-align: center;
    margin: 0 auto;
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}


.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;

}

.service-icon i {
    font-size: 30px;
    fill: var(--primaryIconColor);
}

/* Cards */
#cards {
    padding: var(--sectionPadding);
}

.card {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.card-cover {
    height: 250px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    padding: 2rem 1.5rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.card h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.card-title a i:hover {
    fill: var(--primaryIconColor);
}

.card-title a i {
    transition: 0.2s ease-in-out;
}

.card-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.card-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

/* Portfolios */
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portfolio-cover {
    height: 250px;
}

.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio-title a i:hover {
    fill: var(--primaryIconColor);
}

.portfolio-title a i {
    transition: 0.2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

/* Teams */
#teams {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    bottom: 0;
    left: 0;
    background: #111;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

/* //////////////// */
/* Halaman Contact */
/* ////////////// */

.contact {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url(); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('images/waw.jpg');

    background-size: cover;
}

.contact .content {
    margin-top: 20px;
    max-width: 1200px;
    text-align: center;
}

.contact .content h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    padding: 50px;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #fff;
}

.contactForm {
    width: 50%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #666;
    font-weight: 500;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(242, 7, 191);
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #f34f85;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }
}